
.project-card{
    transition: .2s;
    background-color: var(--dark-color);
    @apply w-60 h-48  relative overflow-hidden
}

.project-card-loader {
    transition: .2s;
    background-color: var(--dark-color);
    @apply w-60 h-40  relative overflow-hidden
}

@media (max-width:527px) {
    .project-card {
        @apply w-full h-full
    }
    .project-card-loader {
        @apply w-full h-full
    }
    .link {
        @apply w-full
    }
}

.project-card > .project-details {
    background-color: #1919239c;
    transition: 0.2s;
    @apply absolute top-0 left-0 w-full h-full p-7 flex flex-col gap-4 justify-center hover:bg-transparent items-center
}

.project-card > .project-details:hover .read-more{
    background-color: var(--secondary-text-color);
    color: var(--dark-color);
    border: 1px solid var(--secondary-text-color);
}

.project-card > .project-details:hover .project-title{
}

.project-card .project-image{
    transition: .2s;
    @apply w-full h-full
}

.project-card:hover .project-image{
    @apply scale-105
}

.project-card > .project-details > .project-title{
    @apply  text-2xl tracking-wider 
}

.project-card > .project-details > .link {
    @apply w-fit
}

.project-card > .project-details .read-more {
    transition: 0.2s;
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color) ;
    @apply p-2  text-base tracking-wider
}